body {
    background-color: aqua;
}
div {
    margin-bottom: 5px;
}
#kolory predefinowane  {
    
    width:200px;
    height:100;
    background-color: 
}
#kolory heksadecymalne   {
    
    width:200px;
    height:100;
    background-color: #c14545
}
#kolory heksadecymalne- zapis skrócony  {
    
    width:200px;
    height:100;
    background-color: #1a9b1a
        
#kolory funkcja rgba    

    
    width:200px;
    height:100;
    background-color: #1a9b1a
        
    
